<div id="main-countdown">
  <% if live_state[:isLive] %>

    <a href="#timeslot-<%= live_state[:live][:timeslot]["id"] %>">
      <h4><%= live_state[:live][:timeslot]["name"] %></h4>
      <span class="on-air label">ON AIR NOW!</span>
    </a>

  <% elsif live_state[:hasUpcoming] %>

    <% if live_state[:next][:timeslot][:days_until] <= 0.5 %>
      <h4><%= live_state[:next][:timeslot]["name"] %> starts at</h4>
      <h4><%= live_state[:next][:timeslot]["start_time"].strftime("%-I:%M %p") %> EDT</span></h4>
    <% end %>

  <% end %>
</div>
