<div class="row collapse">
  <div class="small-12 medium-4 columns">
    <%= f.label label_name ||= field_name, class: 'prefix' %>
  </div>
  <div class="small-12 medium-8 columns">
    <%= f.send(field_type, field_name) %>
  </div>
</div>
