<div class="row collapse">
  <div class="small-12 medium-4 columns">
    <%= f.label label_name ||= field_name, class: 'prefix' %>
  </div>
  <div id="<%= "#{field_name}_container" %>"class="small-12 medium-8 columns">
    <%= f.collection_select(field_name, select_options[:collection], select_options[:value], select_options[:text], {:prompt => select_options[:placeholder]}) %>
  </div>
</div>
