<div class="panel">
  <div class='clearfix'>
    <%= link_to '&times;'.html_safe, admin_timeslots_path, class: 'float-right fake-close-button' %>
  </div>

  <h1>Editing Timeslot</h1>
  <%= render 'form' %>
</div>
