<div class="row page-container">
  <div class="page-body text-center">
    <h1>We're so glad you showed up&hellip;</h1>
    <p>
      <%= image_tag '404.jpg', title: '404 - Not Found' %>
    </p>
    <h2>&hellip; and we're sorry this page didn't.</h2>
    <p>
      <%= link_to "Take me home", root_url, class: 'button' %>
    </p>
  </div>
</div>