<div id="schedule">
  <div class="schedule-body row">
    <div class="column">
      <div class="clearfix timezone">
        <h5 class="float-right">All Times Eastern</h5>
      </div>

      <%= render 'schedule' %>
    </div>
  </div>
</div>
