<div class="row collapse">
  <div class="small-12 medium-4 columns">
    <%= f.label field_name, class: 'prefix' %>
  </div>
  <div class="small-12 medium-2 medium-pull-6 columns switch large">
    <%= f.check_box field_name, class: 'switch-input' %>
    <%= f.label field_name, '<span></span>'.html_safe,class: 'switch-paddle' %>
  </div>
</div>
