body#sessions {

  .fancy-or {
    text-align: center;
    color: #fff;
    margin: 1em 0;
  }

  .signup-container {
    text-align: center;

    h4 {
      margin-top: 0;
      margin-bottom: 0.7em;
    }

    .button {
      margin-bottom: 0.2em;
    }
  }
}
