<tr>
    <td style="background:#fff;">
        <table class="footer-hr" style="width:600px;max-width:600px;padding-left:42px;padding-right:42px;">
            <tr>
                <td style="border-bottom:1px solid #d2d2d2;"></td>
            </tr>
        </table>
    </td>
</tr>

<tr>
    <td style="font-family:Helvetica, Arial, sans-serif;font-size:12px;line-height:16px;color:#aaaaaa;text-align:center; padding-top:26px;padding-bottom: 26px;padding-left:20px;padding-right:20px;background-color:#ffffff;width:600px;max-width:600px;border-bottom: 14px solid #B00016;">
        <table>
            <tr>
                <td class="container-padding footer-text" align="center" style="font-family:Helvetica, Arial, sans-serif;font-size:12px;line-height:16px;color:#c2c2c2;text-align:center;width:600px;max-width:600px;">
                    Drive Conference &bull; North Point Ministries
                </td>
            </tr>
             <tr>
                <td class="container-padding footer-text" align="center" style="font-family:Helvetica, Arial, sans-serif;font-size:12px;line-height:16px;color:#c2c2c2;text-align:center;width:600px;max-width:600px;">
                    4400 North Point Pkwy, Suite #100 Alpharetta, GA 30022
                </td>
            </tr>
        </table>
    </td>
</tr>
