<tr>
    <td class="container-padding header" align="left" style="background: #222222;margin-bottom: 10px;padding-top:28px;padding-bottom:28px;border-top: 14px solid #B00016;">
        <img style="width:230px;margin-top:0;margin-bottom:0; margin-left: auto;margin-right:auto; display: block;" src="http://media.northpointministries.org/content/sites/driveconference.com/drive-logo-full-test.png" />
    </td>
</tr>
