<% content_for :content do %>

  <tr>
    <td class="container-padding content" style="font-family:Helvetica, Arial, sans-serif;font-size:16px;line-height:16px;padding-left:42px;padding-right:42px;padding-top:50px;padding-bottom:40px;background-color:#ffffff; color:#666;">
      <table>
        <tr>
          <td align="left" style="font-size: 26px;color:#7D7D7D; padding-bottom:12px; font-weight:200;">
            Hello <%= @resource.email %>!
          </td>
        </tr>
      </table>

      <table>
        <tr>
          <td style="font-family:Helvetica, Arial, sans-serif;font-size: 18px;line-height: 24px;color: #7D7D7D;">
            We're contacting you to notify you that your password has been changed.
          </td>
        </tr>
      </table>
    </td>
  </tr>

<% end %>

<%= render template: "devise/mailer/layout" %>
