<% content_for :content do %>

  <tr>
    <td class="container-padding content" style="font-family:Helvetica, Arial, sans-serif;font-size:16px;line-height:16px;padding-left:42px;padding-right:42px;padding-top:50px;padding-bottom:40px;background-color:#ffffff; color:#666;">
      <table>
        <tr>
          <td align="left" style="font-size: 26px;color:#7D7D7D; padding-bottom:12px; font-weight:200;">
            Hello,
          </td>
        </tr>
      </table>

      <table>
        <tr>
          <td style="font-family:Helvetica, Arial, sans-serif;font-size: 18px;line-height: 24px;color: #7D7D7D;">
            We were told that you forgot your password for <%= ENV['SITE_NAME'] %>. No sweat, it happens &mdash; the button below will help you get your password reset and we'll have you up and running in no time.
          </td>
        </tr>
      </table>

        <table>
            <tr>
                <td align="center" style="width:600px;padding-top:50px;padding-bottom:50px;">
                  <%= render partial: 'devise/mailer/call_to_action_button', locals: { link: edit_password_url(@resource, reset_password_token: @token), text: 'Change my password' } %>
                </td>
            </tr>
        </table>


         <table>
            <tr>
                <td style="font-family:Helvetica, Arial, sans-serif;font-size:18px;line-height:24px;color:#7D7D7D;">
                   Thanks,
                </td>
            </tr>
            <tr>
                <td style="font-family:Helvetica, Arial, sans-serif;font-size:18px;line-height:24px;color:#7D7D7D;">
                   The <%= ENV['SITE_NAME'] %> Team
                </td>
            </tr>
            <tr>
                <td style="font-family:Helvetica, Arial, sans-serif;font-size:18px;line-height:24px;color:#7D7D7D;padding-top:25px;margin-bottom:10px;">
                    P.S. If you didn't request this email, you can safely ignore it.
                </td>
            </tr>
        </table>
    </td>
  </tr>

<% end %>

<%= render template: "devise/mailer/layout" %>
