<div class="panel">
  <div class='clearfix'>
    <%= link_to '&times;'.html_safe, admin_users_path, class: 'float-right fake-close-button' %>
  </div>

  <h1>New User</h1>
  <%= render 'form' %>
<div>
